/* BEST KIA */
.best_kia{
  margin: 220px auto 220px;
}
.be_title{
  text-align: center;
}
.be_title h2{
  font-size: var(--sub_tt);
  line-height: var(--sub_tt);
  font-weight: 700;
  color: var(--primary);
}
.be_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}
.be_tab_wrapper{
  display: flex;
}
.be_tab_wrapper .tabs_menu{
  display: block;
  margin-right: 24px;
  text-align: center;
  background-color: var(--light_gray);
  font-size: 20px;
  line-height: 48px;
}
.be_tab_wrapper .tabs_menu li a{
  width: 204px;
  display: block;
  transition: 0.3s;
  font-weight: 400;
}
.be_tab_wrapper .tabs_menu li.active a{
  line-height: 408px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 700;
}
.tabs{
  position: relative;
}
.tabs .be_tabs{
  display: none;
}
.tabs .be_tabs.active{
  display: block;
}
.be_tab_wrapper .tabs .slides{
  width: 776px;
  height: 552px;
  position: relative;
  overflow: hidden;
}
.be_tab_wrapper .tabs .slides img{
  height: 552px;
  object-fit: cover;
}
.toplanks .pager{
  line-height: var(--gutter);
  margin-bottom: 33px;
  display: flex;
  gap: 30px;
}
.toplanks .pager a.visible{
  font-weight: bold;
  color: var(--primary);
}
.toplanks .detail_ex{
  display: flex;
  gap:24px;
  line-height: var(--section_tt);
  margin: 10px 0 14px;
}
.toplanks ul li span{
  color: var(--medium_gray);
}
.be_btn{
  margin-top: 21px;
  display: flex;
  gap: 8px;
}
.be_btn .btn{
  width: 154px;
}
.slick-dots{
  position: absolute;
  display: flex;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 28px;
  gap: 24px;
}
.slick-dots button{
  background: var(--medium_gray);
  border: none;
  width: 84px;
  height: 5px;
  font-size: 0;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.3s;
}
.slick-dots button:hover{
  opacity: 1;
}
.tabs .be_tabs li{
  display: none;
}
.tabs .be_tabs li.active{
  display: block;
}
.tabs .be_tabs li img{
  width: 316px;
  height: 140px;
  object-fit: cover;
  margin: 48px 0 46px;
}
.tabs .be_tabs li h3{
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  color: var(--primary);
  text-align: right;
}
.tab_depth{
  display: flex;
  gap: 24px;
  position: relative;
}
.caution{
  position: absolute;
  color: var(--medium_gray);
  font-size: var(--body_sub_tt);
  left: 329px;
  top: 607px;
}
/* MEMBERS */
.kia_members, .kia_event, .kia_notice{
  margin: 0 auto 220px;
}

.me_title, .ev_title{
  text-align: center;
}

.me_title h2, .ev_title h2{
  font-size: var(--sub_tt);
  line-height: var(--gutter);
  font-weight: 700;
  color: var(--primary);
}

.me_title p, .ev_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}

/* .me_tabs_menu{
  display: flex;
  justify-content: center;
  line-height: 48px;
}

.me_tabs_menu li{
  width: 50%;
  text-align: center;
  background: var(--light_gray);
  cursor: pointer;
}

.me_tabs_menu li a {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}

.me_tabs_menu li.active{
  background: var(--primary);
  color: var(--white);
}

.me_tabs_menu li.active a{
  color: var(--white);
} */

/* .tabs > div{
  display: none;
}

.tabs > div.active{
   display: block;
} */


.me_tab_wrapper div h3{
  font-size: var(--section_tt);
  font-weight: 700;
}

.me_tab_members , .me_tab_ev_members{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


.me_tab_members{
  margin: 174px 71px 93px 822px;
}

.me_tab_ev_members{
  margin: 174px 788px 93px 106px;
}

.me_icons, .me_ev_icons{
  display: flex;
  align-items: start;
  gap: 30px;
  margin: 105px 0 72px 0;
  text-align: center;
}

 .me_tab_members:after{
  background: url(../img/me/me_kia_members.png);
  right: 100%;
}

 .me_tab_ev_members:after{
  background-image: url(../img/me/me_kia_ev_members.png);
  margin-left: 100px;
  left: 100%;
}

.me_tab_members:after, .me_tab_ev_members:after{
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  width: 768px;
  height: 340px;
  position: absolute;
 
}

.me_icons li:after{
  background: url(../img/me/me_kia_members_icon.png);
}

.me_ev_icons li:after{
  background: url(../img/me/me_ev_members_icon.png);
}

.me_icons li:after, .me_ev_icons li:after{
  content: '';
  background-repeat: no-repeat;
  
  position: absolute;
  top:0;
  left: 50%;
  height: 64px;
  transform: translate(-50%, -100%);
}

.me_icons li{
  position: relative;
}

.me_icons li:nth-child(1):after{
  width: 77px;
  background-position: left center;
}

.me_icons li:nth-child(2):after{
  width: 64px;
  background-position: -83px center;
}

.me_icons li:nth-child(3):after{
  width: 60px;
  background-position: -156px center;
}

.me_icons li:nth-child(4):after{
  width: 57px;
  background-position: -223px center;
}

.me_icons li:nth-child(5):after{
  width: 74px;
  background-position: -288px center;
}

.me_ev_icons li{
  position: relative;
}

.me_ev_icons li:nth-child(1):after{
  width: 74px;
  background-position: left center;
}

.me_ev_icons li:nth-child(2):after{
  width: 58px;
  background-position: -83px center;
}

.me_ev_icons li:nth-child(3):after{
  width: 56px;
  background-position: -152px center;
}

.me_ev_icons li:nth-child(4):after{
  width: 57px;
  background-position: -219px center;
}

.me_ev_icons li:nth-child(5):after{
  width: 74px;
  background-position: -283px center;
}
@media (max-width:1344px){

  .me_tab_members{
    margin: 174px 0px 93px 822px;
  }
  
  .me_tab_ev_members{
    margin: 174px 788px 93px 0px;
  }
  
}

@media (max-width:1200px) {
  .me_tab_members:after{
    right: 0;
    bottom: 100%;
    background-size: 80%;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
  .me_tab_ev_members:after{
    left: 0;
    bottom: 100%;
    background-size: 60%;
    background-position: center center;
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  .me_tab_members{
    margin: 450px 0 93px 0;
  }
  .me_tab_ev_members{
    margin: 450px 0 93px 0;
  }
}
@media (max-width:1000px){
  .me_tab_members:after{
    bottom: 100%;
  }
  .me_tab_ev_members:after{
    bottom: 100%;
  
    margin-left: 0;
  }
}
@media (max-width:834) {
  .me_tab_members:after{
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 300px;
  }
  .me_tab_ev_members:after{
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 300px;
  }
  .me_tab_members{
    margin: 350px 0 93px 0;
  }
  .me_tab_ev_members{
    margin: 350px 0 93px 0;
  }
  .me_icons li, .me_ev_icons li{
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width:480px){
  .me_tab_members:after{
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 208px;
    left: 5%;
  }
  .me_tab_ev_members:after{
    background-size: 100%;
    background-position: center center;
    left: 0;
    width: 100%;
    height: 208px;
    
  }
  .me_icons, .me_ev_icons{
    gap: 10px;
  }
  .me_tab_members{
    margin: 250px 0 93px 0;
  }
  .me_tab_ev_members{
    margin: 250px 0 93px 0;
  }
}

/* EVENT */
.kia_event{
  position: relative;
}

.ev_slide_wrapper{
  position: relative;
  width: 1264px;
  overflow: hidden;
  margin: 0 auto;
}

.ev_slide_container{
  position: relative;
  width: 100%;
  display: flex;
  gap: 32px;
  padding: 10px 0;
}

.ev_slide_container.animate{
  left: 0;
  transition: .5s;
}

.ev_slide_container figure{
  width: 400px;
  height: 385px;
  box-shadow: 0 0 3px rgba( 0 ,0 ,0, .1);
}

.ev_slide_container figure img{
  width: 100%;
  height: 252px;
}
.ev_slide_container figcaption{
  height: 113px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ev_slide_container figcaption h3{
  font-size: var(--section_tt);
  line-height: 29px;
  font-weight: 400;
}

.ev_slide_container figcaption p{
  color: var(--medium_gray);
}

.ev_slide_prev, .ev_slide_next{ 
  position: absolute;
  font-size: 48px;
  top: 60%;
  color: var(--medium_gray);
  cursor: pointer;
}

.ev_slide_prev {
  left: 0;
}

.ev_slide_next {
  right: 0;
}

@media (max-width:1200px) {
  .ev_slide_wrapper{
    width: 800px;
  }
  
}
@media (max-width:768px) {
  .ev_slide_wrapper{
    width: 400px;
  }
}

/* Section 최은화 */
.no_title{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}

.tabs .notice,
.tabs .news{
  margin: 72px 63px 62px 63px;
  height: 580px;
  gap: 125px;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
}


.tabs .no_notice{
  display: flex;
  gap: 330px;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 32px;
}

.tabs .no_notice h3,
.tabs .no_news h3{
  font-size: 36px;
  font-weight: 700;
}

.tabs .no_notice button,
.tabs .no_news button{
  height: 32px;
  border: 1px solid var(--primary);
  background: var(--white);
}

.tabs .no_notice button:hover,
.tabs .no_news button:hover{
  height: 32px;
  color: var(--white);
  background: var(--primary);
}

.tabs .no_img{
  height: 450px;
  box-shadow: 0 0 10px 1px #bdbdbd;
}

.tabs .no_ntc{
  width: 500px;
  transform: translateX(5px);
}

.tabs .no_ntc li{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tabs .no_ntc li:after{
  content: '';
  background: var(--primary);
  width: 500px;
  height: 1px;
  position: absolute;
  transform: translateY(32px);
}

.tabs .no_ntc li p:hover{
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.tabs .no_news{
  display: flex;
  gap: 392px;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 32px;
}

/* Section 최은화 */
.no_title{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}

.tabs .notice,
.tabs .news{
  margin: 72px 63px 62px 63px;
  height: 580px;
  gap: 125px;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
  transition: 0.3s;
}


.tabs .no_notice{
  display: flex;
  gap: 330px;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 32px;
  transition: 0.3s;
}

.tabs .no_notice h3,
.tabs .no_news h3{
  font-size: 36px;
  font-weight: 700;
}

.tabs .no_notice button,
.tabs .no_news button{
  height: 32px;
  border: 1px solid var(--primary);
  background: var(--white);
}

.tabs .no_notice button:hover,
.tabs .no_news button:hover{
  height: 32px;
  color: var(--white);
  background: var(--primary);
}

.tabs .no_img{
  height: 450px;
  box-shadow: 0 0 10px 1px #bdbdbd;
}

.tabs .no_ntc{
  width: 500px;
  transform: translateX(5px);
  transition: 0.3s;
}

.tabs .no_ntc li{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tabs .no_ntc li:after{
  content: '';
  background: var(--primary);
  width: 500px;
  height: 1px;
  position: absolute;
  transform: translateY(32px);
  transition: 0.3s;
}

.tabs .no_ntc li p:hover{
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.tabs .no_news{
  display: flex;
  gap: 392px;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 32px;
}

@media (max-width:1200px){

  .tabs .notice,
  .tabs .news{
    gap: 70px;
  }

  .tabs .no_notice{
    gap: 220px;
  }
  
  .tabs .no_img{
    width: 70%;
    box-shadow: none;
  }

  .tabs .no_ntc{
    width: 400px;
    transform: translateX(5px);
  }
  
  .tabs .no_ntc li{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .tabs .no_ntc li:after{
    content: '';
    background: var(--primary);
    width: 400px;
    height: 1px;
    position: absolute;
    transform: translateY(32px);
  }

}

@media (max-width: 1000px){
  
  .kia_notice{
    margin: 0;
  }

  .tabs{
    object-fit: cover;
    justify-content: center;
  }
  
  .tabs .notice,
  .tabs .news{
    margin: auto;
    height: 20%;
    gap: 200px;
    flex-direction: column;
  }

  .tabs .notice{
    background: url(../img/fo/fo_notice_2x.png) no-repeat;
    background-size: 100%;
    object-fit: cover;
  }
  
  .tabs .news{
    background: url(../img/fo/fo_news_2x.png) no-repeat;
    background-size: 100%;
    object-fit: cover;
  }

  .tabs .notice img{
    display: none;
  }

  .tabs .news img{
    display: none;
  }

  .tabs .no_notice{
    gap: 330px;
  }

  .tabs .no_ntc{
    width: 500px;
  }

  .tabs .no_img{
    box-shadow: none;
  }

  .tabs .no_ntc li:after{
    width: 500px;
  }

}

@media (max-width: 834px){
  
  .tabs .notice,
  .tabs .news{
    margin: auto;
    height: 20%;
    gap: 100px;
  }

}

/* //Section 최은화 */

/* Footer 최은화 */
footer{
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 220px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  background: var(--primary);
  font-weight: 100;
  line-height: 16px;
}

footer,
footer a{
  color: var(--white);
  text-wrap: nowrap;
}

footer a:hover{
  font-weight: 300;
}

footer .fo_prize{
  width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

footer .fo_prize li{
  display: flex;
  gap: 10px;
  text-wrap: nowrap;
  align-items: center;
  font-size: 12px;
}

footer .fo_prize li img{
  width: 88px;
  height: 50px;
}

footer .fo_smallmenu,
footer .no_guide{
  display: flex;
  gap: 50px;
  transition: 0.3s;
}
  
footer .no_guide .fo_top{
  display: flex;
  gap: 50px;
  transition: 0.3s;
}

footer .no_guide .fo_bottom{
  display: flex;
  gap: 50px;
  transition: 0.3s;
}

footer .no_sns{
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

footer .no_sns li i{
  color: var(--white);
  opacity: 50%;
  font-size: 32px;
  cursor: pointer;
}

footer .no_sns li i:hover{
  opacity: 100%;
}

footer > p:after{
  content: '';
  background: var(--medium_gray);
  /* width: 1224px; */
  width: 1400px;
  height: 1px;
  position: absolute;
  right: 50%;
  transform: translate(50%, -25px);
  transition: 0.3s;
}

@media (max-width: 1200px){

  footer .fo_prize{
    width: 1200px;
    gap: 50px;
    justify-content: center;
  }

  footer .fo_prize li{
    flex-direction: column;
  }
}

@media (max-width: 834px){

  footer .fo_prize{
    width: 100%;
  }

  footer .fo_prize p,
  footer .fo_prize h4{
    display: none;
  }

  footer .no_guide{
    gap: 35px;
    align-items: center;
    object-fit: cover;
  }
  
  footer .no_guide .fo_top{
    display: flex;
    gap: 35px;
  }
  
  footer .no_guide .fo_bottom{
    display: flex;
    gap: 35px;
  }

  footer .fo_smallmenu a,
  footer .no_guide a{
    font-size: var(--body_tt);
    text-wrap: nowrap;
  }

  footer > p:after{
    width: 700px;
  }

}

@media (max-width: 660px){

  footer{
    gap: 25px;
  }

  footer .fo_prize li img{
   width: 68px;
   height: 40px; 
  }

  footer .fo_smallmenu{
    gap: 25px;
  }

  footer .no_guide{
    flex-direction: column;
    gap: 30px;
  }

  footer .no_guide .fo_top{
    gap: 30px;
  }
  
  footer .no_guide .fo_bottom{
    gap: 30px;
  }

  footer > p:after{
    width: 500px;
  }
  
}

@media (max-width: 480px){
  footer .fo_smallmenu{
    gap: 15px;
  }

  footer .no_guide{
    flex-direction: column;
    gap: 20px;
  }

  footer .no_guide .fo_top{
    gap: 30px;
  }
  
  footer .no_guide .fo_bottom{
    gap: 30px;
  }

  footer > p:after{
    width: 400px;
  }
}

/* // Footer 최은화 */