/* BEST KIA */
.best_kia{
  margin: 0 auto 220px;
}
.be_title{
  text-align: center;
}
.be_title h2{
  font-size: var(--sub_tt);
  line-height: var(--gutter);
  font-weight: 700;
  color: var(--primary);
}
.be_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}

/* MEMBERS */
.kia_members, .kia_event, .kia_notice{
  margin: 0 auto 220px;
}

.me_title, .ev_title{
  text-align: center;
}

.me_title h2, .ev_title h2{
  font-size: var(--sub_tt);
  line-height: var(--gutter);
  font-weight: 700;
  color: var(--primary);
}

.me_title p, .ev_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}

/* .me_tabs_menu{
  display: flex;
  justify-content: center;
  line-height: 48px;
}

.me_tabs_menu li{
  width: 50%;
  text-align: center;
  background: var(--light_gray);
  cursor: pointer;
}

.me_tabs_menu li a {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}

.me_tabs_menu li.active{
  background: var(--primary);
  color: var(--white);
}

.me_tabs_menu li.active a{
  color: var(--white);
} */

.me_tab_wrapper div h3{
  font-size: var(--section_tt);
  font-weight: 700;
}

#me_tab_members , #me_tab_ev_members{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#me_tabs > div{
  display: none;
}

#me_tabs > div.active{
   display: flex;
}

#me_tab_members{
  margin: 174px 71px 93px 822px;
}

#me_tab_ev_members{
  margin: 174px 788px 93px 106px;
}

.me_icons, .me_ev_icons{
  display: flex;
  align-items: start;
  gap: 30px;
  margin: 105px 0 72px 0;
  text-align: center;
}

 #me_tab_members:after{
  background: url(../img/me/me_kia_members.png);
  right: 100%;
}

 #me_tab_ev_members:after{
  background-image: url(../img/me/me_kia_ev_members.png);
  margin-left: 100px;
  left: 100%;
}

#me_tab_members:after, #me_tab_ev_members:after{
  content: '';
  background-repeat: no-repeat;
  width: 768px;
  height: 340px;
  position: absolute;
  
}

#me_tab_members button, #me_tab_ev_members button{
  background: var(--white);
  color: var(--black);
  line-height: 38px;
  padding: 0 45px;
  font-size: 12px;
  font-weight: 600;
}

#me_tab_members button:hover, #me_tab_ev_members button:hover{
  background: var(--primary);
  color: var(--white);
}

.me_icons li:after{
  background: url(../img/me/me_kia_members_icon.png)
}

.me_ev_icons li:after{
  background: url(../img/me/me_ev_members_icon.png)
}

.me_icons li:after, .me_ev_icons li:after{
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  left: 50%;
  height: 64px;
  transform: translate(-50%, -100%);
}

.me_icons li{
  position: relative;
}

.me_icons li:nth-child(1):after{
  width: 77px;
  background-position: left center;
}

.me_icons li:nth-child(2):after{
  width: 64px;
  background-position: -83px center;
}

.me_icons li:nth-child(3):after{
  width: 60px;
  background-position: -156px center;
}

.me_icons li:nth-child(4):after{
  width: 57px;
  background-position: -223px center;
}

.me_icons li:nth-child(5):after{
  width: 74px;
  background-position: -288px center;
}

.me_ev_icons li{
  position: relative;
}

.me_ev_icons li:nth-child(1):after{
  width: 74px;
  background-position: left center;
}

.me_ev_icons li:nth-child(2):after{
  width: 58px;
  background-position: -83px center;
}

.me_ev_icons li:nth-child(3):after{
  width: 56px;
  background-position: -152px center;
}

.me_ev_icons li:nth-child(4):after{
  width: 57px;
  background-position: -219px center;
}

.me_ev_icons li:nth-child(5):after{
  width: 74px;
  background-position: -283px center;
}

/* EVENT */
.kia_event{
  position: relative;
}

.ev_slide_wrapper{
  position: relative;
  width: 1264px;
  overflow: hidden;
  margin: 0 auto;
}

.ev_slide_container{
  position: relative;
  width: 100%;
  display: flex;
  gap: 32px;
  padding: 10px 0;
}

.ev_slide_container.animate{
  left: 0;
  transition: .5s;
}

.ev_slide_container figure{
  width: 400px;
  height: 385px;
  box-shadow: 0 0 3px rgba( 0 ,0 ,0, .1);
}

.ev_slide_container figure img{
  width: 100%;
  height: 252px;
}
.ev_slide_container figcaption{
  height: 113px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ev_slide_container figcaption h3{
  font-size: var(--section_tt);
  line-height: 29px;
  font-weight: 400;
}

.ev_slide_container figcaption p{
  color: var(--medium_gray);
}

.ev_slide_prev, .ev_slide_next{ 
  position: absolute;
  font-size: 48px;
  top: 60%;
  color: var(--medium_gray);
}

.ev_slide_prev {
  right: 100%;
}

.ev_slide_next {
  left: 100%;
}

/* Section 최은화 */
.no_title{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}

/* .no_tabs{
  display: flex;
  justify-content: center;
}

.no_tabs li{
  width: 50%;
  height: 60px;
  text-align: center;
  background: var(--light_gray);
}

.no_tabs a{
  font-size: 20px;
  font-weight: 700;
  line-height: 56px;
}

.no_tabs li.active{
  background: var(--primary);
}

.no_tabs li.active a{
  color: var(--white);
} */

.tabs{
  display: none;
}

.tabs.active{
  display: block;
}

.tab_notice,
.tab_news{
  margin: 70px 63px 62px 63px;
  height: 580px;
  display: flex;
  gap: 125px;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
}

.no_box .no_sizing{
  width: 540px;
  height: 100%;
  margin-top: 360px;
}


.no_box .no_notice{
  display: flex;
  gap: 330px;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 32px;
}

.no_box .no_notice h3{
  font-size: 36px;
  font-weight: 700;
}

.no_box .no_notice button{
  height: 32px;
  border: 1px solid var(--primary);
  background: var(--white);
}

.no_box .no_ntc{
  width: 500px;
  transform: translateX(5px);
}

.no_box .no_ntc li{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.no_box .no_ntc li:after{
  content: '';
  background: var(--primary);
  width: 500px;
  height: 1px;
  position: absolute;
  transform: translateY(32px);
}

.no_box .no_ntc li p:hover{
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.no_box .no_news{
  display: flex;
  gap: 392px;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 32px;
}

.no_box .no_news h3{
  font-size: 36px;
  font-weight: 700;
}

.no_box .no_news button{
  height: 32px;
  border: 1px solid var(--primary);
  background: var(--white);
}

/* //Section 최은화 */

/* Footer 최은화 */
footer{
  margin-top: 220px;
  width: 100%;
  height: 483px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--primary);
}

.fo_prize{
  display: flex;
}

/* // Footer 최은화 */
